// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

$blue: #1d70b8;
$tealy: #005e5e;

.info-panel {
  border: 1px solid lighten($tealy, 10%);
  border-radius: 5px;
  padding: 20px 20px 0;
  margin-bottom: 20px;
  background-color: lighten($tealy, 80%);
}

.tag-basic {
  background-color: #005e5e;
  text-transform: lowercase;
  padding: 10px;
  border-radius: 2px;
  margin-right: 10px;
}

// fancy plus button from https://jsfiddle.net/robi_osahan/gwgL7Loj/
.plus-button {
  border: 2px solid $blue;
  background-color: #fff;
  font-size: 16px;
  height: 2.5em;
  width: 2.5em;
  border-radius: 999px;
  position: relative;

  &:after,
  &:before {
    content: "";
    display: block;
    background-color: $blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &:before {
    height: 1em;
    width: 0.2em;
  }

  &:after {
    height: 0.2em;
    width: 1em;
  }

  &:hover {
    border: 2px solid darken($blue, 10%);
    cursor: pointer;

    &:after,
    &:before {
      background-color: darken($blue, 10%);
    }
  }
  &:focus {
    cursor: pointer;
    border: 2px solid darken($blue, 10%);

    &:after,
    &:before {
      background-color: darken($blue, 10%);
    }
  }
}

.plus-button--small {
  font-size: 12px;
}

.plus-button--large {
  font-size: 22px;
}

.add-area {
  clear: left;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  padding-bottom: 40px;
  margin-bottom: 30px;

  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
  }


  button {
    vertical-align: middle;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}
.info-text {
  overflow-wrap: break-word;
  vertical-align: middle;
}

.contact-details {
  span {
    display: block;
    margin-bottom: 5px
  }
  margin-bottom: 20px;
}

.related-project {
  background-color: #ccc;
  padding: 20px;
}
