{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }} - Create a Project
{% endblock %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a prototype service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
        text: "Back",
        href: '/'
      }) }}

    <h1 class="govuk-heading-xl">Create and share an idea</h1>

    <p class="govuk-body-l">Let others know what your idea is and see if anyone has relevant experience.</p>

    <form action="{{ '/share-idea/view-idea' }}" method="post" class="form">

      {{ govukInput({
        label: {
          text: "Idea name"
        },
        id: "idea-name",
        name: "idea-name"
      }) }}

      {{ govukInput({
        label: {
          text: "Organisation name"
        },
        id: "org-name",
        name: "org-name"
      }) }}

      {% call govukFieldset({
        legend: {
          text: "Who is the main contact person?",
          classes: "govuk-fieldset__legend--m",
          isPageHeading: false
        }
      }) %}

        {{ govukInput({
          label: {
            text: "Full name"
          },
          classes: "govuk-!-width-two-thirds",
          id: "full-name",
          name: "full-name"
        }) }}

        {{ govukInput({
          label: {
            text: "Role"
          },
          classes: "govuk-!-width-two-thirds",
          id: "role",
          name: "role"
        }) }}

        {{ govukInput({
          label: {
            text: "Department"
          },
          classes: "govuk-!-width-two-thirds",
          id: "department",
          name: "department"
        }) }}

        {{ govukInput({
          label: {
            text: "Email address"
          },
          hint: {
            text: "Only registered local government users will be able to see this"
          },
          id: "email",
          name: "email",
          type: "email",
          classes: "govuk-!-width-three-quarters",
          autocomplete: "email",
          attributes: {
            spellcheck: "false"
          }
        }) }}

      {% endcall %}


      {{ govukInput({
        label: {
          text: "Keywords"
        },
        hint: {
          text: "Type in comma separated keywords"
        },
        classes: "govuk-!-width-two-thirds",
        id: "keywords",
        name: "keywords"
      }) }}

      {{ govukTextarea({
        name: "problem-to-solve",
        id: "problem-to-solve",
        label: {
          text: "What problem are you trying to work on?",
          classes: "govuk-label--m"
        }
      }) }}


      {{ govukCheckboxes({
        idPrefix: "help-with",
        name: "help-with",
        fieldset: {
          legend: {
            text: "What do you need help with?",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "Select all that apply"
        },
        items: [
          {
            value: "ur",
            text: "User research"
          },
          {
            value: "dev",
            text: "Developers"
          },
          {
            value: "servd",
            text: "Service designers"
          },
          {
            value: "desig",
            text: "Designers"
          },
          {
            value: "techarch",
            text: "Tech architect"
          },
          {
            value: "budget",
            text: "Budget"
          },
          {
            value: "feedback",
            text: "Feedback"
          },
          {
            value: "data",
            text: "Data"
          },
          {
            value: "code",
            text: "Code"
          },
          {
            value: "tech-advice",
            text: "Tech advice"
          },
          {
            value: "proc-advice",
            text: "Procurement advice"
          },
          {
            value: "expert-opinion",
            text: "Expert opinion"
          }
        ]
      }) }}

      {{ govukTextarea({
        name: "other-help",
        id: "other-help",
        label: {
          text: "Anything else?"
        }
      }) }}

      {{ govukButton({
        text: "Save and continue"
      }) }}

    </form>

  </div>

</div>
{% endblock %}
