{% extends "layout.html" %}

{% block pageTitle %}
{{ serviceName }}
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a prototype service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
        text: "Back",
        href: '/'
      }) }}

    <h1 class="govuk-heading-xl">Create and share an idea</h1>

    <p class="govuk-body">paragraph</p>

    <form action="{{ '/share-idea/view-idea' if editing else '/leave-feedback/multiple-children' }}" method="post" class="form">

    <p class="govuk-body">A form with fields to outline the idea</p>

    </form>

  </div>

</div>
{% endblock %}
