{% extends "layout.html" %}

{% block pageTitle %}
{{ data['idea-name'] }}
{% endblock %}


{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a prototype service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ govukBackLink({
        text: "Back to home",
        href: '/'
      }) }}

    <h1 class="govuk-heading-xl"><p>{{ data['idea-name'] }}</p></h1>

    <p class="govuk-body govuk-!-font-weight-bold">Your idea has been shared with Localgov community!</p>
    <p class="govuk-body">You'll be notified if someone leaves a comment. <br>
    <a href="#">Change notification preferences.</a></p>

  </div>

</div>
{% endblock %}
