
{% extends "layout.html" %}

{% block pageTitle %}
  Project - Reducing missed bin collections
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a prototype service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukBackLink({
          text: "Back",
          href: '/'
        }) }}
    </div>

    <div class="govuk-grid-column-full">

      <span class="govuk-caption-xl">Project</span>
      <h1 class="govuk-heading-xl">
        Reducing missed bin collections
      </h1>
    </div>


    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body govuk-!-font-weight-bold">
        Borsetshire County Council
      </p>

      <p class="govuk-body">
        <span class="govuk-body govuk-!-font-weight-bold">Keywords:</span>
      </p>

      <p class="govuk-body">
        <strong class="govuk-tag tag-basic">
          Waste and recycling
        </strong>
        <strong class="govuk-tag tag-basic">
        missed bins
        </strong>
        <strong class="govuk-tag tag-basic">
          govnotify
        </strong>
      </p>

      <p class="govuk-body">
        <span class="govuk-body govuk-!-font-weight-bold">Timeline</span><br>
        Started on 10 August 2019  - Currently Active
      </p>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

      <h2 class="govuk-heading-l">What problem are we working on?</h2>

      <p class="govuk-body-l">How can we reduce the number of missed bin collections?</p>

      <h3 class="govuk-heading-m">Why is this a problem?</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          Missed bin collections are a regular problem for our county.
        </li>
        <li>
          We are about to move to alternating household and recycling collections, which will mean some adjustment for users.
        </li>
        <li>
          We also recognised last Christmas we had a lot of calls about when bin collections will be moved to around the public holidays.
        </li>
        <li>
          Missed bins represents a significant, yet avoidable cost for the council.
        </li>
        <li>
          We wanted to avoid the same problem this year.

        </li>

      </ul>

      <h3 class="govuk-heading-m">What outcomes are we looking for?</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          Reduce the number of missed collections.
        </li>
        <li>
          Users are more able to "self-serve" and find information for themselves.
        </li>
        <li>
          Reduce number of calls to the customer service team about bin collection times.
        </li>
        <li>
          Missed bins represents a significant, yet avoidable cost for the council.
        </li>
        <li>
          Create savings by reducing the number of call outs to collect missed bins.
        </li>

      </ul>

      <h2 class="govuk-heading-l">What we have done so far</h2>
      <h3 class="govuk-heading-m">Reports</h3>
      <p>
        We've reviewed data trends to understand the main reasons for why collections are missed. The main reason being that people are unsure what their collection day or time in for their area.
        <br>
        <a href="#">
          Missed bin collection data trends
        </a>
      </p>

      <p>
        We have done some initial research to understand why bins are commonly missed so that we know what problem to solve. We have developed several hypothsis that we want to test.
        <br>
        <a href="#">
          Research with people who have missed bin collections
        </a>
      </p>

      <p>
        We have a business case to demonstrate potential savings by using gov.notify

      <br><a href="">Business case for using govnotify</a>
      </p>

      <p>
        We are creating solutions based on a set of user needs
        <br>
        <a href="#">User needs</a>
      </p>

      <h3 class="govuk-heading-m">Resources we used</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="https://www.notifications.service.gov.uk/">
          https://www.notifications.service.gov.uk/</a></li>
        <li><a href="https://pipeline.localgov.digital/wiki/290/waste-reporting-of-street-cleansing-data-by-citizens-and-operatives">
          https://pipeline.localgov.digital/wiki/290/waste-reporting-of-street-cleansing-data-by-citizens-and-operatives
        </a></li>
        <li><a href="https://pipeline.localgov.digital/wiki/265">
          https://pipeline.localgov.digital/wiki/265
        </a></li>
        <li><a href="#">
          focusreport_bins_final.pdf
        </a></li>
        <li><a href="https://www.capita-one.co.uk/resources/blog/why-technology-innovation-local-government-about-people-not-it">
          https://www.capita-one.co.uk/resources/blog/why-technology-innovation-local-government-about-people-not-it
        </a></li>
      </ul>

      <h3 class="govuk-heading-m">Show and tells</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>Sprint 1 - Initial user and desk research into the problem
          <a href="#">
          Link to show and tell 1</a></li>

        <li>Sprint 2 - User needs and proof of principle system mapping
          <a href="#">
          Link to show and tell 2</a></li>

      </ul>

      <h3 class="govuk-heading-m">What would be your advice to others to do this?</h3>
      <p>
        n/a
      </p>

      <h3 class="govuk-heading-m">What technology did you use?</h3>
      <p>
        <a href="https://www.notifications.service.gov.uk/">GOV.UK Notify</a>
      </p>


    </div>

    <div class="govuk-grid-column-one-third">
      <p class="govuk-body">
        <span class="govuk-body govuk-!-font-weight-bold">Main contact</span> <br>
        Jane Mallard <br>
        Transformation Officer<br>
        Transformation and Digital Services<br>
        <a href="">07912 345 678</a><br>
        <a href="">jane.mallard@borsetcc.gov</a><br>
        <a href="">@jammy</a>
      </p>

      <p class="govuk-body">
        <span class="govuk-body govuk-!-font-weight-bold">Team members</span> <br>
        Colin Smith <br>
        Head of Waste and Recylcing <br>
        <a href="">colin.smith@borsetcc.gov</a><br><br>

        Salma Vasel<br>
        User Researcher <br>
        <a href="">salma.vasel@borsetcc.gov</a><br>
        <a href="">@salmavs</a><br><br>


        Adriana Cotty<br>
        Business Analyst<br>
        <a href="#">Adriana.cotty@borsetcc.gov</a><br>
        <a href="#">@AddyC20</a>
      </p>
    <div/>
</div>

{% endblock %}
