{% extends "layout.html" %}

{% block pageTitle %}
{{ data['project-name'] }}
{% endblock %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a prototype service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {{ govukBackLink({
          text: "Back",
          href: '/share-project/create-project-start'
        }) }}

      <div class="info-panel">
        <p class="govuk-body">This is a preview of your idea, problem or project.
        Publish now or add more information.
        You can add more information at any time.
        </p>

        {{ govukButton({
          text: "Publish",
          href: "/share-project/published-project",
          classes: "govuk-!-margin-right-1"
        }) }}

        {{ govukButton({
          text: "Save as draft",
          classes: "govuk-button--secondary"
        }) }}

      </div>

    </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data['problem-to-solve']%}
      <h1 class="govuk-heading-l">{{ data['problem-to-solve'] }}</h1>
    {% else %}
      <h1 class="govuk-heading-l"><a href="/share-project/create-project-start">Add content describing the problem you're working on</a></h1>
    {% endif %}

    <!-- keywords -->
    {% if data['keywords']%}
    <p class="govuk-body govuk-tag tag-basic">{{ data['keywords'] }}</p>
    {% else %}
    <div class="add-area">
      <button class="plus-button plus-button-large"></button>
      <span class="govuk-body-s info-text"><a href="/share-project/create-project-start">Add keywords</a></span>
    </div>
    {% endif %}

    <!-- why problem -->
    <hr class="govuk-section-break govuk-section-break--m">
    <h3 class="govuk-heading-m">Why it's a problem</h3>

    {% if data['why-problem'] %}
    <p class="govuk-body">{{ data['why-problem'] }}</p>

    {% else %}
    <div class="add-area">
      <button class="plus-button plus-button-large"></button>
      <span class="govuk-body-s info-text"><a href="/share-project/create-project-start">Add problem description</a></span>
    </div>

    {% endif %}

    <!-- the help you're looking for -->
    <h3 class="govuk-heading-m">What help we’re looking for</h3>
    {% if data['need-help'] === 'yes' %}
      <ul class="govuk-list govuk-list--bullet">
        {% for answer in data['help-with']%}
        <li>
          {{ answer }}
        </li>
        {% endfor %}
      </ul>

    {% else %}
      <!-- ask for help -o  -->
      <a class="govuk-link" href="">Choose what help you want from the community</a>
    {% endif %}

    <!-- the question you've asked the community -->
    <h3 class="govuk-heading-m">Question for the community</h3>
    {% if data['ask-question'] === 'yes' %}
      <p class="govuk-body"> {{ data['question'] }}</p>
    {% else %}
      <a class="govuk-link" href="/share-project/create-project-start">Ask question</a>
    {% endif %}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break">
    <a class="govuk-link edit-link" href="/share-project/create-project-start">Edit this section</a>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"

    <!-- outcomes -->
    <h3 class="govuk-heading-m">The outcomes we are working towards</h3>

    {% if data['what-outcomes'] %}
      <p class="govuk-body">{{ data['what-outcomes'] }}</p>
    {% else %}
    <div class="add-area">
      <button class="plus-button plus-button-large"></button>
      <span class="govuk-body-s info-text"><a href="/share-project/add-outcomes">Add what outcomes you are working towards</a></span>
    </div>
    {% endif %}

    <h2 class="govuk-heading-l">Additional resources you want to share with the local government community</h2>
    <span class="govuk-hint">For example, business cases, research findings, show and tells.</span>
    <div class="add-area">
      <button class="plus-button plus-button-large"></button>
      <span class="govuk-body-s info-text"><a href="">Add more information</a></span>
    </div>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h2 class="govuk-heading-l">Updates</h2>
    <div class="add-area">
      <button class="plus-button plus-button-large"></button>
      <span class="govuk-body-s info-text"><a href="">Add more information</a></span>
    </div>

  </div>

  <!-- SIDEBAR -->
  <div class="govuk-grid-column-one-third">
    <div class="mini-container">
      <h4 class="govuk-heading-s">Status</h4>

        <!-- status -->
        <span class="govuk-body status">{{ data['status']}}</span>
        <a class="govuk-link" href="">Change status</a>


      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" >
      <h4 class="govuk-heading-s">Main contact</h4>

      {% if data['full-name'] %}

      <div class="contact-details">
        <span class="govuk-body-s">{{ data['full-name'] }}</span>
        <span class="govuk-body-s">{{ data['role'] }}</span>
        <span><a href="#">{{ data['email'] }}</a></span>
      </div>

      {% else %}
      <div class="add-area">
        <button class="plus-button plus-button-large"></button>
        <span class="govuk-body-s info-text">By default you'll be the main contact <a href="/share-project/add-main-contact">Change main contact</a></span>
      </div>
      {% endif %}

      <h4 class="govuk-heading-s">Team</h4>
      <div class="add-area">
        <button class="plus-button plus-button-large"></button>
        <span class="govuk-body-s info-text">There are no team members listed.
<br>
          <a href="/share-project/add-main-contact">Find and tag people</a></span>
      </div>


    </div>
  </div>

</div>
{% endblock %}
