{% extends "layout.html" %}

{% block pageTitle %}
{{ data['project-name'] }}
{% endblock %}

{% from "govuk/components/button/macro.njk" import govukButton %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "alpha"
    },
    html: 'This is a prototype service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
  }) }}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {{ govukBackLink({
          text: "Back",
          href: '/'
        }) }}

    </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if data['project-name']%}
      <h1 class="govuk-heading-xl">{{ data['project-name'] }}</h1>
    {% else %}
      <h1 class="govuk-heading-xl"><a href="/share-project/create-project-start">Add project name</a></h1>
    {% endif %}

    <!-- keywords -->
    {% if data['keywords']%}
    <p class="govuk-body govuk-tag tag-basic">{{ data['keywords'] }}</p>
    {% else %}
    <p class="govuk-body">No keywords</p>
    {% endif %}

    <!-- problem working on -->
    <h3 class="govuk-heading-m">What problem are we working on</h3>
    {% if data['problem-to-solve']%}

      <p class="govuk-body">{{ data['problem-to-solve'] }}</p>
    {% else %}
    <p class="govuk-body">The author hasn't published that yet.</p>
    {% endif %}

    <!-- why problem -->
    <hr class="govuk-section-break govuk-section-break--m">
    <h3 class="govuk-heading-m">Why is that a problem</h3>

    {% if data['why-problem'] %}
    <p class="govuk-body">{{ data['why-problem'] }}</p>

    {% else %}
    <p class="govuk-body">The author hasn't published that yet.</p>

    {% endif %}

    <!-- outcomes -->
    <hr class="govuk-section-break govuk-section-break--m">
    <h3 class="govuk-heading-m">What outcomes are we looking for</h3>
    {% if data['what-outcomes'] %}
      <p class="govuk-body">{{ data['what-outcomes'] }}</p>

    {% else %}
    <p class="govuk-body">The author hasn't published that yet.</p>
    {% endif %}

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    <h2 class="govuk-heading-l">Updates</h2>
    <p class="govuk-body">The author hasn't published any updates.</p>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <h2 class="govuk-heading-l">Comments</h2>
    <p class="govuk-body">No Comments</p>

    {{ govukCharacterCount({
      name: "comment",
      id: "comment",
      maxwords: 100,
      rows: "4",
      label: {
        text: "Ask a question about this project",
        classes: "govuk-label--s"
      }
    }) }}

    {{ govukButton({
      text: "Post"
    }) }}

  </div>

  <!-- SIDEBAR -->
  <div class="govuk-grid-column-one-third">
    <div class="mini-container">
      <h4 class="govuk-heading-s">Stats</h4>
      <span>22 viewers</span>
      <span>2 comments</span>
      <span>5 people found resources useful</span>


      <h4 class="govuk-heading-s">Status</h4>
        <p class="govuk-body">Project</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" >
      <h4 class="govuk-heading-s">Main contact</h4>

      {% if data['full-name'] %}

      <div class="contact-details">
        <span class="govuk-body-s">{{ data['full-name'] }}</span>
        <span class="govuk-body-s">{{ data['role'] }}</span>
        <span><a href="#">{{ data['email'] }}</a></span>
      </div>

      {% else %}
      <p class="govuk-body">No main contact for this project.</p>
      {% endif %}

      <h4 class="govuk-heading-s">Team</h4>
      <p class="govuk-body">No main contact for this project.</p>

    </div>
  </div>



</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" >

      <h4 class="govuk-heading-m">Related projects</h4>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
          <div class="related-project">
            <h5 class="govuk-heading-s"><a href="">Related project name</a></h5>
          </div>
        </div>

        <div class="govuk-grid-column-one-third">
          <div class="related-project">
            <h5 class="govuk-heading-s"><a href="">Related project name</a></h5>
          </div>
        </div>

        <div class="govuk-grid-column-one-third">
          <div class="related-project">
            <h5 class="govuk-heading-s"><a href="">Related project name</a></h5>
          </div>
        </div>
      </div>

    </div>
</div>
{% endblock %}
