
{% extends "layout.html" %}

{% block pageTitle %}
  Localgov collaboration alpha
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Localgov collaboration
      </h1>
      <p class="govuk-body-l">
        Share knowledge and resources to deliver better services.
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li><span class="govuk-!-font-weight-bold">700</span> people from <span class="govuk-!-font-weight-bold">365</span> organisations have shared ideas, problems and projects</li>
        <li>There have been <span class="govuk-!-font-weight-bold">39,994</span> questions asked </li>
        <li>There are <span class="govuk-!-font-weight-bold">23,332</span> comments and answers</li>
      </ul>

      <h2 class="govuk-heading-m">What would you like to do?</h2>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <ul class="govuk-list">
        <li class="box-item">
          <h3 class="govuk-heading-s"><a class="box-link" href="/share-project/create-project-start">
            Share an idea, problem or project
          </a></h3>
        </li>
        <li class="box-item">
          <h3 class="govuk-heading-s">
            <a class="box-link" href="/share-idea/create-idea">
              Find a person, project or resource
            </a>
          </h3>

        </li>
      </ul>
    </div>
  </div>
{% endblock %}
