
{% extends "layout.html" %}

{% block pageTitle %}
  Localgov collaboration alpha
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Localgov collaboration
      </h1>
      <p class="govuk-body-l">
        Share knowledge and resources to deliver better public services.
      </p>

      <p class="govuk-body">
      700 people from 356 organisations have shared their projects and resources.
<br>
        39994 questions asked
<br>
        233332 comments and answers
      </p>

      <h2 class="govuk-heading-m">What would you like to do?</h2>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <ul class="govuk-list">
        <li class="box-item">
          <a class="box-link" href="/share-project/create-project-start">
            Share
          </a>
          <span class="govuk-hint">You can share things like problems, ideas or projects.</span>
        </li>
        <li class="box-item">
          <a class="box-link" href="/share-idea/create-idea">
            Find
          </a>
          <span class="govuk-hint">You find people, projects, resources</span>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
