
{% extends "layout.html" %}

{% block pageTitle %}
  Localgov collaboration alpha
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Localgov collaboration
      </h1>
      <p class="govuk-body-l">
        Share knowledge and resources to deliver better public services.
      </p>

      <h2 class="govuk-heading-m">Collaboration journeys</h2>

      <p>What would you like to do?</p>


      <ul class="govuk-list">
        <li>
          <a href="/share-project/create-project-start">
            Share a project
          </a>
        </li>
        <li>
          <a href="/share-idea/create-idea">
            Share an idea
          </a>
        </li>
        <li>
          <a href="/projects/">
            View a project
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
