
{% extends "layout.html" %}

{% block pageTitle %}
  Localgov collaboration alpha
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Localgov collaboration
      </h1>
      <p class="govuk-body-l">
        Share knowledge and resources to deliver better public services.
      </p>
    </div>
</div>

<div class="govuk-row">
  <h2 class="govuk-heading-l">Alpha Prototypes</h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m">Alpha 1<small class="sub-heading">Publishers and Consumers</small><small class="sub-heading">October 2019</small></h3>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <ul class="govuk-list">
        <li>
          <a href="https://localgov-collaboration-testing.herokuapp.com/" class="govuk-link" target="_blank">Homepage</a>
        </li>
        <li>
          <a href="https://localgov-collaboration-testing.herokuapp.com/share-project/create-project" class="govuk-link" target="_blank">Publisher - share a project journey</a>
        </li>
        <li>
          <a href="https://localgov-collaboration-testing.herokuapp.com/share-idea/create-idea" class="govuk-link" target="_blank">Publisher - share and idea journey</a>
        </li>
        <li>
          <a href="https://localgov-collaboration-testing.herokuapp.com/projects" class="govuk-link" target="_blank">Consumer - view a project</a>
        </li>
      </ul>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What's new?
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>A basic journey of creating a project.</li>
            <li>A basic journey for sharing an idea.</li>
            <li>A project example to test what content matters to users and what is missing.</li>
          </ul>
          <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Research</h4>
          <p>We did research with 6 participants</p>
        </div>
      </details>
    </div>
    <!-- Alpha 2 -->
    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m">Alpha 2 <small class="sub-heading">Iterate on publishing journey and add a profile page</small><small class="sub-heading">October 2019</small></h3>
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <ul class="govuk-list">
        <li>
          <a href="/alpha-2" class="govuk-link">Homepage local</a>
        </li>
        <li>
          <a href="https://localgov-collaboration-alpha-2.herokuapp.com/alpha-2" class="govuk-link" target="_blank">Homepage</a>
        </li>
        <li>
          <a href="https://localgov-collaboration-alpha-2.herokuapp.com/share-project/create-project-start" class="govuk-link" target="_blank">Publisher - share a thing</a>
        </li>
      </ul>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What's new?
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>a change thing</li>
            <li>Updated content design on questions</li>
            <li>Re-ordered fields</li>
            <li>Additional user journey items such as "view your profile" page</li>
            <li>Redesigned start page</li>
          </ul>
          <h4 class="govuk-heading-s govuk-!-margin-bottom-1">Research</h4>
          <p>Will be  entering research this sprint.</p>
        </div>
      </details>
    </div>
  </div>
</div>

{% endblock %}
